<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="eBatchDBConnection" connectionString="Data Source=TELLIANT05\SQLEXPRESS2008R2;Initial Catalog=NorthPoint;Integrated Security=True"/>
  </connectionStrings>
  
</configuration>